<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">Education</h2>
      {{ range .Site.Data.education }}
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">{{ .degree }}</h3>
            <div class="subheading">{{ .school}}</div>
            <div class="text-primary  mb-3">{{ .range }}</div>
            <div>{{ .major }}</div>
            <div>{{ .notes }}</div>
          </div>
        </div>
        {{ end }}
     </div>
  </section>
