<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto" id="experience-content">
    <h2 class="mb-5">Experience</h2>
    {{ range .Site.Data.experience }}
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">{{ .role }}</h3>
            <div class="subheading">{{ .company }}</div>
            <div class="resume-date mb-3">
                <span class="text-primary">{{ .range }}</span>
            </div>
            <div class="summary-description">
                <p>{{ .summary }}</p>
                <p>{{ .subText }}</p>
            </div>
          </div>
        </div>
    {{ end }}
  </div>
</section>
