<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto" id="skills-content">
    <h2 class="mb-5">Skills</h2>
    {{ range $.Site.Data.skills }}
        <div class="subheading mb-3 skills-heading"><h3>{{ .grouping }}</h3></div>
        <div class="row">
            {{ range .skills }}
              <div class="card col-sm-3">
                <div class="card-body">
                  {{ if isset . "link"}}
                    <h5>
                      <i class="devicons devicons-{{ cond (in $.Site.Data.devicons (lower .name)) (lower .name) "terminal_badge" }}"></i> 
                      <a href="{{ .link }}" target="_blank">{{ .name }}</a>
                    </h5>
                  {{ else }}
                    <h5><i class="devicons devicons-{{ cond (in $.Site.Data.devicons (lower .name)) (lower .name) "terminal_badge" }}"></i> {{ .name }}</h5>
                  {{ end }}
                  <p>{{ .desc }}</p>
                </div>
              </div>
            {{ end }}
        </div>
    {{ end }}
  </div>
</section>
